/*CSS File for QuestionApp*/
* {
	clear: both; /* moves down until it isnt sharing space with anything */
}

html, body {
	height: 100%;
	margin: 0;
	padding: 0;
}

body {
	background: linear-gradient(#e8e3d3, white) no-repeat;
}

p, span, li {
	font-size: 15px; 
}

#wrapper {
	min-height: 100%;
	position: relative;
}

header {
	padding-bottom: 50px;
	margin-left: 8px;
}

#content {
	max-width: 1000px;
	margin-left: auto;
	margin-right: auto;
	padding-bottom: 200px;
}

footer {
	position: absolute;
	bottom: 0%;
	left: 0%;
	height: 50px;
	width: 100%;
}

footer * {
	font-size: 10px;
	vertical-align: bottom;
	text-align: center;
}

h1, .menu, #questionStream {
	margin-left: auto;
	margin-right: auto;
	position: relative;
	max-width: 800px;	
}

#questionStream {
	max-width: 950px;
}

h1 {
	font-size: 50px;
}

.menu, .menu h2, #questionStream {
	overflow: hidden;
}

.menu, #questionStream {
	border: 2px solid black;
	border-radius: 10px;
	height: 400px;
}

.menu h2 {
	border-bottom: 2px solid black;
	padding: 5px;
	margin: 0;
}

.menu > *:not(h2) {
	margin: 20px
}

form * {
	margin: 2px;
}

#settingsBottom {
	position: relative;
	margin-left: auto;
	margin-right: auto;
	bottom: -210px;
	width: 500px;
}

#questionInput {
	height: 144px;
	width: 394px;
}

#blackOverlay {
	position: fixed;
	left: 0%;
	top: 0%;
	height: 100%;
	width: 100%;
	z-index: 1;
	background: url("../images/blackBackground.png");
}

#whitePrompt {
	position: relative;
	background: white;
	font-size: large;
	margin-left: auto;
	margin-right: auto;
	top: 15%;
	height: 540px;
	padding: 5px;
	opacity: 1;
	width: 440px;
	z-index: 2;
}

.disabled {
	pointer-events: none;
	text-decoration: none;
	color: Black;
}

/*only ul elements inside the element tagged "navigation"*/
#navigation ul, #settingsBottom ul {
	margin: 0px;
	padding: 0px; /*get rid of spacing*/
}

/*only li elements inside a ul inside the "navigation" element*/
#navigation ul li, #settingsBottom ul li {
	list-style-type: none; /*no bulletpoints, etc*/
	display: inline-block; /*everything goes on one line*/
}

#navigation ul li:before, #settingsBottom ul li:before {
	content: " | "; /*put " | " before every li inside navigation*/
}

#navigation li:first-child:before, #settingsBottom li:first-child:before {
	content: none; /*(this is fence posting)*/
}

#questionError {
	display: none;
	color: red;
}

#scrollMenu {
	border: 1px solid Black;
	height: 50%;
	/*width: 100%;*/
	overflow: auto;
	padding: 10px;
}

#qTable {
	padding: 5px;
	width: 100%;
}

#qTable td p{
	font-size: 18px;
}

#qTable td img {
	margin-bottom: 10px;
}

#qTable td span {
	font-size: 22px;
	bottom: 30px;
	left: 46%;
	position: relative;	
	
}

/*
#qTable * {
	outline: 1px solid black;
}
*/

.vote, .check, .flag {
	cursor: pointer;
}

