/*CSS File for QuestionApp*/
* {
	clear: both; /* moves down until it isnt sharing space with anything */
}

body {
	background: linear-gradient(#e8e3d3, white) no-repeat;
}

body h1, body > div {	/* only the top level div inside body */
	position: relative;
	left: 50%
}

#blackOverlay {
	position: fixed;
	left: 0%;
	top: 0%;
	height: 100%;
	width: 100%;
	
	background-color: Black;
	z-index: 1;
	opacity: 0.8;
}

#whitePrompt {
	position: fixed;
	background: white;
	font-size: large;
	left: 25%;
	top: 15%;
	height: 50%;
	z-index: 2;
	padding: 5px;
}

.disabled {
	pointer-events: none;
	text-decoration: none;
	color: Black;
}

header {
	padding-bottom: 40px;
}

#navigation {
	float: right;
	display: block;
}

/*only ul elements inside the element tagged "navigation"*/
#navigation ul {
	margin: 0px;
	padding: 0px; /*get rid of spacing*/
}

/*only li elements inside a ul inside the "navigation" element*/
#navigation ul li {
	list-style-type: none; /*no bulletpoints, etc*/
	display: inline-block; /*everything goes on one line*/
}

#navigation ul li:before {
	content: " | "; /*put " | " before every li inside navigation*/
}

#navigation li:first-child:before {
	content: none; /*(this is fence posting)*/
}

footer {
	position: absolute;
	bottom: 0;
}

#scrollMenu {
	border: 1px solid Black;
	height: 50%;
	/*width: 100%;*/
	overflow: auto;
	padding: 10px;
}

#qTable {
	padding: 5px;
}

#qTable td {
	padding-right: 10px;
	padding-bottom: 10px;
	vertical-align: top;
}

#qTable td img {
	bottom: 10px;
	content: url("../images/inactiveArrow.png");
	height: 40px;
	width: 55px;
	position: relative;
}

@-moz-document url-prefix() {
	#qTable td span::before {
		content: url("../images/inactiveArrow.png");
		position: relative;
	}

}

#qTable td span {
	bottom: 20px;
	left: 25px;
	position: relative;	
}
/*
.qContent {
	
}

.qDiv {
	margin-bottom: 10px;
}

.vote {
	position: absolute;
	content: url("../images/inactiveArrow.png");
	height: 30px;
	width: 45px;
	right: 10px;
	margin-right: -25px;
	margin-top: -10px
}

.weight {
	position: absolute;
	right: 10px;
}

*/
